<!DOCTYPE>
<head>
	<meta charset="UTF-8">
	 <title>Front End Test</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>
		.footer {
		  position: relative;
		  bottom: 0;
		  width: 100%;
		  height: 50px;
		  background-color: #f5f5f5;
		}
        a, a:visited, a:hover, a:active {
         color: inherit;
         text-decoration: none;
        }
	</style>
</head>

<body>
	<nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1"><a href="/">Twitter Login Project</a></span>
	</nav>
	<div class="container">
	{% if context %}
	<div class="alert alert-danger" role="alert">
	  {{context}}
	</div>
	{% endif %}
		<div class='row'>
		 <div class='col-md-6' style="float: none; margin: 30px auto;">
			<h2>Register!</h2></br>
			<form method="post" action="/register">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name='username' placeholder="Enter username">
			  </div>
			  <div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" name='email' placeholder="Enter email">
			  </div>
			  <div class="form-group">
				<label for="admin-password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  </div>
				<button type="submit" name="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
	  </div>
	</div>
	

		
<!-- 	<footer class="footer bg-dark">
		<p style="margin-top:10px;text-align:center;color:white">© 2018 Front End Pvt</p>
	</footer> -->
</body>

</html>
